body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto; 
}
h1 {
    color:darkblue;
	font-size: 2.5em; 
    border-bottom: darkblue solid thin;
    padding-bottom: 7px;
}


header #anuncio{
    width: 510px;
    float: left;
    margin: 80px auto auto;
    padding-top: 0px;
}

header section {
    padding-top: 70px;
}

header section p {
    color: #999999;
    margin: 33px auto 7px;
}

header section figure {
    width: 100%;
    margin: 0%;
}

header section figure a {
    padding: 25px 5px 0;
    border: none;
}

header section figure a:first-child{
    padding: 25px 5px 0 0;
}

header section figure a:last-child{
    padding: 25px 0 0 5px;
}
nav{
    background-color: black;
    overflow: auto;
    clear: both;
    margin-top: 10px;
}

nav ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 1px;
}

nav ul li {
    float: left;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 8px 50px;
    line-height: 2em;
    align-items: center;
}

nav ul a img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

#inicial a[href="index.html"], #a a[href="sub.html"], #b a[href="fiat.html"], #c a[href="ford.html"], #d a[href="volk.html"], #e a[href="sites.html"] {
    background-color: darkblue;
}

#inicial aside{
    width: 230px;
    float: left;
    margin-top: 30px;
}

#inicial main {
    width: 490px;
    float: left;
    margin: 30px 25px 10px;
}

footer{
    clear: both;
    border-top: 7px solid white;
    background-color:white;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0px;
}

h2 {
    font-size: 1.75em; /* 28/16=1.75 */
    background: darkblue;
    color: #fff;
    letter-spacing: .1em;
    padding: 7px;
    width: 316px;
}

p { 	
font-size: 1.1em; 	
line-height: 1.3em; 	
text-align: justify; 
}

p:first-line {
font-size: 1.17em;
font-variant: small-caps;
font-weight: bolder;
font-style: italic;
}

hr {
border-color: darkblue;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
main h1{
    color: darkblue;
    font-size: 2.5em;/*40/16=2.5*/
    border-bottom: darkblue solid thin;
    padding-bottom: 7px;
}

main h2 {
    font-size: 1.75em;/*28/16=1.75*/
    color: #fff;
    letter-spacing: .1em;
    padding: 7px;
    width: 316px;
}

main p{
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;
}

main h2+p::first-line{
    font-size: 1.17em;
    font-variant: small-caps;
    font-weight: bolder;
    font-style: italic;
}

main hr{
    border-color: darkblue;
}
.anuncioA {
    margin: 0 0 10px;
    padding: 0;
    overflow: auto;
}
.anuncioA .boxAnuncio {
    width: 163px;
    height: 230px;
    border-bottom: solid thin darkblue;
    float: left;
    position: relative;
    overflow: hidden;
}

.anuncioA .boxAnuncio p {
    text-align: center;
    font-size: .95em;
    line-height: 1.3em;
    background-color: rgba(255, 255, 255, 1);
    border-left: solid thin darkblue;
    border-right: solid thin darkblue;
    margin: 0;
    padding: 7px 15px;
    position: absolute;
    bottom: -80px left 0;
    transition: 1s linear 0.1s; cursor: default;
}

.anuncioA .boxAnuncio p:first-line {
    font-size: 1.1em;
    font-variant: inherit;
    font-style: normal;
    font-weight: bolder;
    color: darkblue;
    padding: 0;
}

.anuncioA .boxAnuncio p:hover {
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 0;
}

aside audio {
    width: 230px;
}

aside video {
    width: 230px;
}